table {
    border: 2px solid rgba(0, 0, 0, 0.324);
  
}

h1{
    font-size: 1.6em;
    font-family: Arial, Helvetica, sans-serif;
}


.cabecalhomoda{
background-color: rgb(208, 142, 237);
    color:aliceblue;
    font-size: 1.6em;
   
    
}
.cabecalhocasa{
    background-color:#00C4B4;
    color:aliceblue;
    font-size: 1.6em;
   
}

#dados{
    background-color: #424250;
    
    color:aliceblue;
    font-size: 1.6em;
}
.indisponivel{
    background-color:red;
}